<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Admin Dashboard</title>
	{% load static %}
<!-- The line above tells Django to be ready to listen for static files -->
	<link rel="stylesheet" href="{% static 'user_dashboard/css/success.css' %}" media="screen" title="no title"  charset="utf-8">
<!-- Put the static files in the static folder inside your app.  Django collects files within all static folders and puts them within a single folder -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
</head>
<body>
	<div class="container-fluid">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="/">FriendMatch</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
				<div class="navbar-nav">
					<a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a> 
				</div>
				<div class="navbar-nav">
					<a class="nav-item nav-link" href="/users/{{request.session.user}}">Profile</a> 
				</div>
				{% if not request.session.user %}
				<a href="/gosignin" class="signin">Sign In</a>
				{% endif %}
				{% if request.session.user %}
				<a href="/logout" class="logout">Log Out</a>
				{% endif %}
			</div>
		</nav>

		<main>
			{% if messages %}
			<ul class="messages">
			{% for message in messages %}
				<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
			{% endfor %}
			</ul>
			{% endif %}
			<div class="top">
				<h5>Manage Users</h5>
				<a class="add_new_user" href="/addnewuser"><button type="button" class="btn btn-primary">Add New</button></a>
			</div>
			<table class="table">
				<tr>
					<th>ID</th>
					<th>Name</th>
					<th>email</th>
					<th>created_at</th>
					<th>user level</th>
					<th>actions</th>
				</tr>
				{% for user in users%}
				<tr>
					<td>{{user.id}}</td>
					<td><a href="users/{{user.id}}">{{user.first_name}} {{user.last_name}}</a></td>
					<td>{{user.email}}</td>
					<td>{{user.created_at}}</td>
					<td>{{user.userlevel}}</td>
					<td>
						<a href="edit/{{user.id}}">Edit</a>
						<a href="remove/{{user.id}}">Remove</a>
					</td>
					
				</tr>
				{% endfor %}
			</table>
		</main>
	</div>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
</body>
</html>